body{
    background: #333;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

/* header */
header{
    padding: 20px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading-text{
    letter-spacing: 2px;
    font-family: 'Black Ops One', cursive;
}

/* main */

#form{
    min-height: 20vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

#form input, #form button
{
    padding: 10px 5px;
    border: none;
    background: #fff;
    outline: none;
    font-size: 1.6rem;
}

#form button
{
    color: #ff6f47;
    background: #fff;
    transition: all 0.3s ease;
}

#form button:hover{
    background:#ff6f47;
    color: #fff;
}

select
{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    color: #ff6f47;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
    background: rgb(236, 232, 232);

}

.select
{
    margin: 0;
    margin-left: 1rem;
    position: relative;
    overflow: hidden;
}

.select::after
{
    content: "\25BC";
    position: absolute;
    background: #ff6f47;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

.select:hover::after
{
    background: #fff;
    color: #ff6f47;
}

/* todo-list */

.todo-container
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list
{
    min-width: 70%;
    list-style: none;
}

.todo
{
    margin: 0.5rem;
    background: #fff;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo li{
    flex: 1;
}

.complete-btn, .trash-btn
{
    background: #ff6f47;
    color: #fff;
    border: none;
    outline: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.complete-btn
{
    background: rgb(73, 204, 73);
}

.todo-item
{
    padding: 0 5px;
}

@media only screen and (max-width: 612px){
    #form input, #form button
    {
        font-size: 1.4rem;
    }

    select{
        width: 9rem;
    }

    .todo{
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 546px){
    #form input, #form button
    {
        font-size: 1.2rem;
    }

    select{
        width: 8rem;
        padding: 0.7rem;
    }

    .todo{
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 490px){
    #form input, #form button
    {
        font-size: 1rem;
    }

    select{
        width: 7rem;
        padding: 0.7rem;
    }

    .todo{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 410px){
    #form input, #form button
    {
        font-size: 0.9rem;
    }

    select{
        width: 6rem;
        padding: 0.5rem;
    }
}

@media only screen and (max-width: 370px){
    #form input, #form button
    {
        font-size: 0.8rem;
    }

    select{
        width: 5rem;
        padding: 0.5rem;
        font-size: 13px;
    }

}